$spacing: 6vw;
$h1Size: 18vw;
$h2Size: 3.6vw;
$h3Size: 3.5vw;
@media only screen and (max-width: 600px) {
    .huba {
        padding: $spacing;
        header {
            margin-bottom: $spacing;
            img {
                width: 300%;
            }
            div {
                h1 {
                    font-size: $h1Size;
                    letter-spacing: $h1Size/12;
                    margin-bottom: 1vw;
                }
                h2 {
                    font-size:$h2Size;
                    letter-spacing: 0vw;
                }
            }
        }
        .about {
            h2 {
                margin-bottom: $spacing*0.6;
            }
            h3 {
                margin: $spacing*0.6 0;
            }
            li {
                position: relative;
                font-size: $spacing*0.6;
                margin-left: $spacing/2;
                line-height: $spacing*0.9;
                margin-bottom: $spacing*0.2;
                li {
                    margin-left: $spacing/2; 
                }
            }
            li:before {
                position: absolute;
                height: $spacing/4;
                width: $spacing/4;
                top: $spacing*0.35;
                transform: translate(-200%, 0%,);
            }
            p {
                font-size: $spacing*0.6;
                line-height: $spacing*0.9;
            }
        }
    }
    nav {
        padding:$spacing/2;
        ul {
            margin-left: 0;
            justify-content: center;
            li {
                margin: $spacing/2 $spacing/1.5;
                a {
                    font-size: $h3Size;
                    letter-spacing: $h3Size/18;
                }
            }
        }
    }
    .notMoved {
        top: $spacing;
    }
}